args==0.1.0
arrow==0.13.1
asgiref==2.3.2
asn1crypto==0.24.0
async-timeout==2.0.1
attrs==18.2.0
autobahn==19.2.1
Automat==0.7.0

beautifulsoup4==4.7.1
cairocffi==1.0.2
CairoSVG==2.3.0
certifi==2018.11.29
cffi
chardet==3.0.4
clint==0.5.1
constantly==15.1.0
cryptography==2.5
cssselect2==0.2.1
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.7
django-admin-honeypot==1.1.0
django-allauth==0.38.0
django-appconf==1.0.2
django-channels==0.7.0
django-ckeditor==5.6.1
django-compressor==2.2
django-crispy-forms==1.7.2
django-debug-toolbar==1.11
django-encrypted-model-fields==0.5.8
django-filter==2.1.0
django-haystack==2.8.1
django-hosts==3.0
django-js-asset==1.2.1
django-markdown==0.8.4
django-phonenumber-field==2.2.0
django-redis==4.10.0
django-request==1.5.4
django-softdelete==0.9.0
django-tables2==2.0.4
django-taggit==0.23.0
django-urlcrypt==0.1.6
django-weasyprint==0.5.4
django-widget-tweaks==1.4.3
djangorestframework==3.9.1
