
{% extends '_layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% load crispy_forms_tags %}

 {% block navheader %}
    {% include 'includes/navheader_employee_app.html' %}
 {% endblock %}



  {% block stylesheet %}
    .rounded-circle-image{
    border-radius: 50% !important;
    width:250px;
    height:250px;
  }

  .form-wrapper{
  background:#fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

  padding-top: 2rem;
  padding-bottom: 2rem;

}


.list-group {
  margin-top: 10px;
}

span{
  color: #6f6f6f;
  font-weight: lighter;
  font-size: 16px;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid transparent;
    font-size:17px;
}

  #override-start{
    background:none !important;
    top: 35% !important;
    right:13px;
    color:#000;
    font-size: 24px;

    }

    .alert-warning{
        background:#fd7b7b;
    }

    .alert-success {
      background-color: #82b72a;    
    }

    .alert-success,.alert-warning{
        font-size:16px;
    }

    .employee-name-title{
    color: #3873b1;
    font-weight: 600;
    font-variant: petite-caps;
    font-size: 3.1rem !important;
  }

  span,.list-group-item > div{
  font-variant: petite-caps;
}




.panel-default>.panel-heading {
  color: #fff !important;
  background-color: #2d88a9 !important;
}

.panel-title a:hover{
color:#e6e4e4;
}

.panel-title a:active{
color:#e6e4e4;
}

.panel-title a:focus{
color:#e6e4e4;
}

  {% endblock %}


  
  <html lang="ja">
 {% block content %}
        <section class="content">
            <section class="container-fluid">
           
                <section class="form-wrapper">
                    <section class="row">
                        <section class="col col-lg-8 col-md-12  col-sm-12">

                            {% if  messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}}"{% endif %}>
                                         {{ message }}
                                         <button type="button" class="close" id = "override-start"data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                                         </button>
                                     </div>
                                    {% endfor %}
                            {% endif %}

                        </section>
                    </section>

                    <section class="row">
                        <section class="col-lg-12 col-md-12 col-sm-12 text-center space-margin">
                            <h3 class="title-h3">{{ employee.get_full_name }}</h3>
                        </section>
                    </section>

                    <section class="row">
                        <section class="col-lg-4 text-center">
                          <img src="{{ employee.image.url}}"  class="img-fluid rounded-circle-image">
                        </section>
                        <section class="col-lg-8 col-md-12 col-sm-12">
                                    <div class="list-group" id="list-tab" role="tablist">
                                            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="" role="tab" aria-controls=""><span>氏名</span> <div><b>{{ leave.user }}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="" role="tab" aria-controls=""><span>開始日</span> <div> <b>{{ leave.startdate.year }}-{{ leave.startdate.month }}-{{ leave.startdate.day }}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="" role="tab" aria-controls=""><span>終了日</span><div> <b>{{ leave.enddate.year }}-{{ leave.enddate.month }}-{{ leave.enddate.day }}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>期間</span> <div><b>{{ leave.leave_days}}日</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>理由</span> <div><b>{{ leave.leavetype}}</b></div>
                                            </a>
                                            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>備考</span> <div><b>{{ leave.reason}}</b></div>
                                            </a>
                                             <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="" role="tab" aria-controls=""><span>状態</span> <div><b>{{ leave.status}}</b></div>
                                             </a>

                                       
                                      </div>

                        </section>
                    </section>


                             
                                  <span style="font-size: 13px;padding-left: 1rem;" class="pull-left">作成日 <b>{{ leave.created }}</b></span>
                              

              {% if request.user.is_superuser and request.user.is_staff %}

                    <section class="row">
                      <section class="col col-lg-4 col-sm-12 col-lg-offset-7 text-center">
                        <div class="btn-group btn-group-justified">
                          {%if leave.leave_approved %}
                          <a href="{% url 'dashboard:userleaveunapprove' leave.id %}" class="btn btn-danger" style="background-color:blue; color: white;" name='unapprove'>申請中
                          </a>
                          {% else %}
                          <a href="{% url 'dashboard:userleaveapprove' leave.id %}" class="btn btn-success" style="background-color:green; color: white;" name='approve'>承認
                          </a>
                          {% endif %}
                          <!--<a href="{% url 'dashboard:userleavecancel' leave.id %}" class="btn btn-info" style="background-color:rgb(0, 142, 185); color: white;" name='cancel'>キャンセル</a>-->
                          <a href="{% url 'dashboard:reject' leave.id %}" class="btn btn-danger" style="background-color:rgb(185, 0, 0); color: white;" name='reject'>却下</a>  
                          <a href="{% url 'dashboard:leaveslist' %}" class="btn btn-danger" style="background-color:rgb(104, 77, 77);border: none; color: white;" name='reject'>申請リスト</a> 
                          
                        </div>
                      </section>
                    </section>
              {% else %}
              
              <section class="row">
                <section class="col col-lg-4 col-sm-12 col-lg-offset-7 text-center">
                  <div class="btn-group btn-group-justified">
                    {%if leave.status == '申請中' %}
                    <a href="{% url 'dashboard:canselleaveapprove_emp' leave.id %}" class="btn btn-danger" style="background-color:rgb(189, 138, 0);border: none; color: white;" name='cancel'>キャンセル
                    </a>
                    <a href="{% url 'dashboard:staffleavetable' %}" class="btn btn-success" style="background-color:rgb(104, 77, 77);border: none; color: white;" name='approve'>申請リストへ
                    </a>
                    {% elif leave.status == 'キャンセル' %}
                    <a href="{% url 'dashboard:createleaveapprove_emp' leave.id %}" class="btn btn-success" style="background-color:blue;border: none; color: white;" name='cancel'>再申請
                    </a>
                    <a href="{% url 'dashboard:staffleavetable' %}" class="btn btn-success" style="background-color:rgb(104, 77, 77);border: none; color: white;" name='approve'>申請リストへ
                    </a>
                    {% else %}
                    <!--<a href="{% url 'dashboard:userleavecancel' leave.id %}" class="btn btn-info" style="background-color:rgb(0, 142, 185); color: white;" name='cancel'>キャンセル</a>-->
                    <a href="{% url 'dashboard:staffleavetable' %}" class="btn btn-success" style="background-color:rgb(104, 77, 77); border: none; color: white;" name='approve'>申請リストへ
                    </a>
                    {% endif %}
                  </div>
                </section>
              </section>        
              {% endif %}

                </section>

            </section> <!-- /container --> 
        </section>
 {% endblock %}
 </html>
<script type="text/javascript">
{% block extrajs%}

{% endblock %}
</script>